<!--
 _             _   _   _                          _       
|_|___ ___ ___| |_|_|_| |___    ___ _____ ___ ___| |_ ___ 
| |  _| . |   |   | | . | -_|  | . |     | -_|  _|  _| .'|
|_|_| |___|_|_|_|_|_|___|___|  |___|_|_|_|___|_| |_| |__,|
                                                          
-->
<span class="large">

| /? () |\| |-| | |) [-   () |\/| [- /? ~|~ /\ 

</span>

<span class="small">

| /? () |\| |-| | |) [-   

 () |\/| [- /? ~|~ /\ 

</span>

{% for page in site.pages %}{% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}{% endfor %}

