a:link {color:#CE2029; text-decoration:none;}
a:visited {color:#CE2029; text-decoration:none;}
a:hover {text-decoration:underline;}

pre {
display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;
}

p {
    margin:0;
    padding:0;
}



